<header class="container-fluid border-top border-color pt-2 pb-2">
    <div class="row">
        <div class="col-md-12 custom-flex">
            <div class="col-md-8">
                <img src="img/logo.png" role="button" class="logo" onclick="location.href='./'">
            </div>
            <div class="col-md-4 form-group ml-2">
                <div class="col-md-12">
                    <label>Datos del desarrollador <i class="bi bi-laptop-fill"></i></label>
                </div>
                <div class="col-md-12">
                    <i class="bi bi-envelope h2 mr-5" onclick="location.href='mailto:alvaro.98@live.com.ar'"></i>
                    <i class="bi bi-linkedin h2 mr-5" onclick="window.open('https://www.linkedin.com/in/alvaro-caporaletti-68a104207/', '_blank')"></i>
                    <i class="bi bi-whatsapp h2" onclick="window.open('https://api.whatsapp.com/send?phone=5492346571470', '_blank')"></i>
                </div>
            </div>
        </div>
    </div>
</header>