<div class="similmodal" id="reconocimiento_modal" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="col-md-12 col-12 m-t-2">
                    <div class="col-md-4 col-4">
                        <img src="" class=" " id="foto_reconocimiento">
                    </div>
                    <div class="col-md-4 col-4 center">
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                    </div>
                    <div class="col-md-4 col-4">
                        <img src="" class="foto-card" id="foto_reconocimiento2">
                    </div>
                </div>
                <div class="col-md-12 col-12 m-t-2">
                    <label>Estamos realizando comparaciones faciales..</label>
                </div>
                <div class="col-md-12 col-12">
                    (Si usted intenta fichar con algun tipo de objeto la imagen ira a revision y se anulara el fichado)
                </div>
            </div>
        </div>
    </div>
</div>
